@font-face {
    font-family: "chakrapetch-regular";
    src: url(../fonts/ChakraPetch-Regular.ttf)
}

@font-face {
    font-family: "chakrapetch-bold";
    src: url(../fonts/ChakraPetch-Bold.ttf)
}


body {
    margin: 0 auto;
    overflow-y: hidden;
}

.logo {
    padding-left: 25px;
    margin-bottom: 13.75px;
}


.logo img{
    width: 47%;
}

.menu-point-link {
    display: block;
    text-decoration: none; 
}

.menu-point {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10.50px 0 7.25px 0;
    border-bottom: 1.75px solid #414445;
}

.menu-point img {
    display: block;
    padding-left: 25px;
    float: left;
}

.logo-image {
    width: 3.55vw;
}

.menu-point-content {
    display: block;
    white-space: nowrap; 
    line-height: 26.25px;  
    padding-left: 12%;
    padding-top: 11px;
}

h2 {
    font-family: "chakrapetch-bold";   
    font-size: 1.5vw;
    letter-spacing: 0.46px;
    text-transform: uppercase;
    color: #fff;
    line-height: 26.25px;
    margin: 0;
    margin-bottom: 5px;
}

h2 span {
    color: #ff1d43;
}


p {
    font-family: "chakrapetch-regular";
    font-size: 0.8vw;
    letter-spacing: 0.28px;
    color: #fff;
    margin: 0;
}

.menu-point-link:active .arrow {
    visibility: visible;
}

.menu-point-link:hover p {
    color: #b5bcc3;
}

.menu-point-link:hover h2 {
    color: #b5bcc3;
}

.menu-point-link:active p {
    color: #dadae1;
}

.menu-point-link:active h2 {
    color: #dadae1;
}

.arrow {
    visibility: hidden;
    position: absolute;
    right: 0;
}

.menu {
    width: 25%;
    padding: 14px 0 44px 0px;
    background-color: #313435;
    float: left;
    position: fixed;
}

.container {
    width: 75%;
    float: right;
}

.product-info {
    height: 1080px;
    overflow-y: scroll;
}

.product-info::-webkit-scrollbar {
    width: 0px;
}

.active {
    visibility: visible;
}

@media (max-width: 1080px) {
    .menu-point-content {
        display: none;
    }

    .menu-point {
        height: 90px;
    }

    .logo {
        display: none;
    }

    .menu {
        width: 14%;
        height: 100%;
        padding-top: 0;
    }

    .container {
        width: 86%
    }

    .arrow {
        width: 12px;
    }

    .logo-image {
        width: 10vw;
    }

    .menu-point img {
        padding-left: 13%; 
    }
}
