@font-face {
    font-family: "chakrapetch-regular";
    src: url(../fonts/ChakraPetch-Regular.ttf)
}

@font-face {
    font-family: "chakrapetch-bold";
    src: url(../fonts/ChakraPetch-Bold.ttf)
}


body {
    margin: 0 auto;
    overflow-y: hidden;
}

.logo {
    padding-left: 25px;
    margin-bottom: 24.75px;
}


.logo img{
    width: 40%;
}

.menu-point-link {
    display: block;
    text-decoration: none; 
}

.menu-point {
    display: block;
    padding: 20.50px 0 16.25px 0;
    margin-left: 73.5px;
    border-bottom: 1.75px solid #414445;
}

.menu-point img {
    display: block;
    padding-left: 25px;
    float: left;
}

.menu-point-content {
    display: block;
    white-space: nowrap; 
    line-height: 26.25px;  
    padding-left: 157px;
}

h2 {
    font-family: "chakrapetch-bold";   
    font-size: 34px;
    letter-spacing: 0.46px;
    text-transform: uppercase;
    color: #fff;
    line-height: 26.25px;
    margin: 0;
    margin-bottom: 5px;
}

h2 span {
    color: #ff1d43;
}


p {
    font-family: "chakrapetch-regular";
    font-size: 17px;
    letter-spacing: 0.28px;
    color: #fff;
    margin: 0;
}

.menu-point-link:active .arrow {
    visibility: visible;
}

.menu-point-link:hover p {
    color: #b5bcc3;
}

.menu-point-link:hover h2 {
    color: #b5bcc3;
}

.menu-point-link:active p {
    color: #dadae1;
}

.menu-point-link:active h2 {
    color: #dadae1;
}

.arrow {
    visibility: hidden;
}

.menu {
    width: 30%;
    padding: 34px 0 44px 0px;
    background-color: #313435;
    float: left;
    position: fixed;
}

.container {
    width: 70%;
    float: right;
}

.product-info {
    height: 1080px;
    overflow-y: scroll;
}

.product-info::-webkit-scrollbar {
    width: 0px;
}

.active {
    visibility: visible;
}
